<section>
  <h2>Isabel Cristina Rengifo Triana</h2>
  <p>
     Colombiana, nació en la ciudad de lbagué (Tolima) y criada en la Ciudad de Pereira de donde proceden sus primeras vivencias artísticas. 
  </p>
</section>

<style>
  section {
    background-color: var(--black);
    padding: 2.4rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white);
  }

  h2 {
    font-weight: bold;
    font-family: var(--font-primary);
    font-size: var(--font-lg);
    text-transform: uppercase;
    line-height: 1.1;
  }

  p {
    font-size: 1.2em;
  }

  @media (min-width: 768px) {
    section {
      padding: 8rem;
    }
  }
</style>
