---
import Layout from '../../layouts/Vertical.astro'
import Header from '../../components/header/Header.astro'
import Main from '../../components/shared/main/Main.astro'
import Title from '../../components/shared/heading/Title.astro'
import { Filter } from '../../components/shared/filter/Filter'
import Footer from '../../components/shared/footer/Footer.astro'
---

<Layout title="Isarte · Exposiciones">
  <Header />
  <Main>
    <Title text="Exposiciones" />
    <Filter client:load />
  </Main>
  <Footer />
</Layout>
