---
import Layout from '../../layouts/Vertical.astro'
import Header from '../../components/header/Header.astro'
import { SwiperExpo } from '../../components/shared/swiper/exposiciones/SwiperExpo'
---

<Layout title="Isarte · Exposiciones">
  <Header isBgDark={true} />
  <main>
    <div class="content">
      <SwiperExpo client:load />
    </div>
  </main>
</Layout>

<style>
  body {
    background: #000;
  }

  :global(.nav-menu) {
    background: #000!important;
  }

  :global(.nav-menu a) {
    color: var(--cream)!important;
  }

  main {
    display: grid;
    place-content: center;
    place-items: center;
  }

  :global(.mySwiperExpo) {
    height: calc(100vh - 10rem);
    width: 100vw;
    z-index: 0;
  }

  :global(.mySwiperExpo img) {
    aspect-ratio: 1/1;
    object-fit: contain;
    height: 100%;
    width: 100%;
  }

  :global(.mySwiperExpo .swiper-pagination-bullet-active) {
    background: var(--cream);
  }

  @media (min-width: 1024px) {
    main {
      width: 100%;
      height: 100%;
      top: 10rem;
      position: relative;
    }

    :global(.mySwiperExpo img) {
      aspect-ratio: 9/16;
    }
  }
</style>
