---
import logo from '../../assets/images/logo-v2.svg'
import ToggleButton from '../nav/ToggleButton'
---

<header>
  <div class="container content">
    <a href="/" class="logo" title="logo">
      <img
        src={logo}
        height="45"
        alt="puede ser una imagen del logo de isarte"
      />
    </a>
    <ToggleButton client:load />
  </div>
</header>

<style>
  header {
    background: var(--white);
    padding: 2.4rem 0;
    z-index: 1;
  }

  .logo {
    font-size: var(--font-md);
    text-transform: uppercase;
    font-family: var(--font-primary);
    color: var(--black);
    text-decoration: none;
    z-index: 2;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  :global(button.burger) {
    appearance: none;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: var(--font-md);
    font-family: var(--font-primary);
    color: var(--black);
    text-transform: uppercase;
    width: 7.5rem;
  }

  :global(nav.nav-menu) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  :global(nav.nav-menu ul) {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
  }

  :global(nav.nav-menu ul li) {
    font-size: var(--font-md);
    font-family: var(--font-primary);
    color: var(--black);
    text-transform: uppercase;
    text-align: center;
  }

  :global(nav.nav-menu ul li a) {
    text-decoration: none;
    color: var(--black);
  }

  @media (min-width: 1024px) {
    header {
      background: transparent;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
</style>
