.nav {
  display: grid;
  margin: 8rem auto;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding: 0 2.4rem;
  grid-template-columns: 1fr;
}

.a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 32.5rem;
  width: 100%;
  height: 55.3rem;
  text-decoration: none;
  z-index: 0;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.span {
  color: var(--white);
  font-family: var(--font-primary);
  text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
  font-size: var(--font-md);
  z-index: 2;
  text-transform: uppercase;
  transform: translateY(0.5rem);
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.error {
  font-family: var(--font-primary);
  text-indent: 3rem;
}

@media (min-width: 1024px) {
  .nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .span {
    color: var(--black);
    opacity: 0;
    text-shadow: none;
  }

  .a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55.3rem;
    background-color: var(--white);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 1;
  }

  .a:hover::before {
    opacity: 0.9;
  }

  .a:hover span {
    transform: translateY(-1.5rem);
    opacity: 1;
  }
}
