---
import { socialMedia } from '../../constants/socialmedia'

const socialLinks = [
  {
    name: "Instagram",
    url: socialMedia.ig,
  },
  {
    name: "Facebook",
    url: socialMedia.fb,
  },
];
---

<footer>
  <h2>Social</h2>
  <nav>
    {socialLinks.map(({ name, url }) => <a href={url} target="_blank">{name}</a>)}
  </nav>

  <p class="vehement">
    Powered by <a href="https://vehement.co" target="_blank">Vehement</a>
  </p>
</footer>

<style>
  footer {
    background-color: var(--black);
    min-height: 100vh;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
  }

  h2 {
    font-family: var(--font-primary);
    text-transform: uppercase;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  a {
    color: var(--white);
    text-decoration: none;
  }

  .vehement {
    position: absolute;
    bottom: 2rem;
    font-size: 1.4rem;
  }

  @media (min-width: 768px) {
    footer {
      width: 100%;
      min-width: 40vw;
      margin: 0;
      padding: 0;
    }
  }
</style>
